[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "==0.4.1"
django-cors-headers = "==1.1.0"
gunicorn = ">=19.5.0"
negotiator = "==1.0.0"
"static3" = "==0.5.1"
Django = ">=1.11.15"
jsonschema = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "2.7"
