[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django-cors-headers = "*"
gunicorn = ">=19.5.0"
Django = "*"
jsonschema = "*"
psycopg2-binary = "*"
python-mimeparse = "*"

[dev-packages]
refract = "*"

[requires]
python_version = "3.7"
