CacheControl==0.10.2
Django==1.7.5
certifi==2015.04.28
dj-database-url==0.3.0
dj-static==0.0.6
django-cors-headers==1.0.0
future==0.14.3
gunicorn==19.2.1
ldclient-py==0.16.2
negotiator==1.0.0
psycopg2==2.6
requests==2.4.0
static3==0.5.1
wsgiref==0.1.2
