CacheControl==0.10.2
certifi==2015.4.28
dj-database-url==0.4.1
Django==1.10.5
django-cors-headers==1.1.0
future==0.14.3
gunicorn==19.2.1
negotiator==1.0.0
psycopg2==2.6
requests==2.4.0
static3==0.5.1
